# IMPORTANT! This is a template file. Do not input or
# version control any values in this file that may be
# sensitive in any way. Instead, make a copy of this
# file called `.env` and use that instead. The `.env`
# file should not be version controlled.

# Configuration values for the PostgreSQL service running
# in Docker. Refer to `docker-compose.yaml` for more info.

POSTGRES_DB=rain_tracker
POSTGRES_PASSWORD=
POSTGRES_USER=

# PostgreSQL connection URL for Prisma.
#
# Most values should match the `POSTGRES_*` values above
# and the URL should be constructed using this format:
#
# Format: postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@<POSTGRES_HOST>:5432/<POSTGRES_DB>?schema=public
#
# Refer to the following documentation for more info:
# https://www.prisma.io/docs/orm/connection-strings
#
# NOTE: The value of `POSTGRES_HOST` is normally `localhost`
# if you are running the app locally (e.g: `npm run start:dev`).
# However, if you are running the app via Docker Compose using a
# tool like Docker Desktop for Mac, then the value should likely be
# `docker.for.mac.host.internal` or `host.docker.internal` or similar.
# for Mac, then the value should likely be `docker.for.mac.host.internal`
# or `host.docker.internal` or similar.
#
# Refer to the following documentation for more information:
# https://docs.docker.com/desktop/features/networking/#i-want-to-connect-from-a-container-to-a-service-on-the-host

API_DATABASE_URL=postgresql://
